<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bootflat</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- SmartAddon.com Verification -->
    <meta name="smartaddon-verification" content="936e8d43184bc47ef34e25e426c508fe" />
    <meta name="keywords" content="Flat UI Design, UI design, UI, user interface, web interface design, user interface design, Flat web design, Bootstrap, Bootflat, Flat UI colors, colors">
    <meta name="description" content="BOOTFLAT is an open source Flat UI KIT based on Bootstrap CSS framework.
And, for the designers, we offer a free PSD Download. It provides a faster, easier and less repetitive way for web developers or designers to create elegant web apps.">
    <link rel="shortcut icon" href="favicon_16.ico" />
    <link rel="bookmark" href="favicon_16.ico" />
    <!-- site css -->
    <link rel="stylesheet" href="{% static 'css/site.min.css' %}">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'js/site.min.js' %}"></script>
</head>

<body>
    <!-- Header -->
    <div class="docs-header">
        <nav class="navbar navbar-default navbar-custom" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="index.html"><img src="img/icon.png" height="40"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-left">
                        <li><a class="nav-link" href="getting-started.html">Ask</a></li>
                        <li><a class="nav-link current" href="documentation.html">Answer</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container" style="margin-top: 35px">
        <table class="table forum table-striped">
            <thead>
                <tr>
                    <th class="cell-stat"></th>
                    <th>
                        <h3>Explore</h3>
                    </th>
                    <th class="cell-stat text-center hidden-xs hidden-sm">Replies</th>                    
                    <th class="cell-stat-2x hidden-xs hidden-sm">Last Post</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
                    <td>
                        <h4><a href="#">Parking ticket yeah?</a><br><small>By username</small></h4>
                    </td>
                    <td class="text-center hidden-xs hidden-sm"><a href="#">9 542</a></td>                    
                    <td class="hidden-xs hidden-sm">by <a href="#">John Doe</a><br><small><i class="fa fa-clock-o"></i> 3 months ago</small></td>
                </tr>
                <tr>
                    <td class="text-center"><i class="fa fa-exclamation fa-2x text-danger"></i></td>
                    <td>
                        <h4><a href="#">Disrupting law?</a><br><small>By username</small></h4>
                    </td>                    
                    <td class="text-center hidden-xs hidden-sm"><a href="#">152123</a></td>
                    <td class="hidden-xs hidden-sm">by <a href="#">Jane Doe</a><br><small><i class="fa fa-clock-o"></i> 1 years ago</small></td>
                </tr>
            </tbody>
        </table>        
    </div>
</body>

</html>
