<!DOCTYPE html>
<html>
{% load staticfiles %} {% include "head.html" %}

<body>
    {% include "navbar.html" with banner_request=True %}

    <div class="container">
        <hr/>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h2><p class="text-center">Resolve a dispute now</p></h2>
                <input type="text" class="form-control" placeholder="Dispute Title"><br/>
                <input type="text" class="form-control" placeholder="Your Email"><br/>
                <button type="button" class="btn btn-lg btn-info btn-block">Submit</button>
            </div>
        </div>
        <hr/>
        <div class="example">
            <h2><p class="text-center">How does it work?</p></h2>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="timeline">
                        <dl>
                            <dt>Start</dt>
                            <dd class="pos-right clearfix">
                                <div class="circ"></div>
                                <div class="time">Day 1, 10:00</div>
                                <div class="events">
                                    <div class="pull-left">
                                        <img class="events-object img-rounded" src="{% static 'img/photo-1.jpg' %}">
                                    </div>
                                    <div class="events-body">
                                        <h4 class="events-heading">Jimmy</h4>
                                        <p>Jimmy opens up a dispute and send unique link to Timmy. Jimmy also adds in his relevant information and facts</p>
                                    </div>
                                </div>
                            </dd>
                            <dd class="pos-left clearfix">
                                <div class="circ"></div>
                                <div class="time">Day 1, 10:05</div>
                                <div class="events">
                                    <div class="pull-left">
                                        <img class="events-object img-rounded" src="{% static 'img/photo-2.jpg' %}">
                                    </div>
                                    <div class="events-body">
                                        <h4 class="events-heading">Timmy</h4>
                                        <p>Timmy accepts link, add his facts, dispute is then sent to some guy.</p>
                                    </div>
                                </div>
                            </dd>
                            <dd class="pos-right clearfix">
                                <div class="circ"></div>
                                <div class="time">Day 1, 10:10</div>
                                <div class="events">
                                    <div class="pull-left">
                                        <img class="events-object img-rounded" src="{% static 'img/photo-3.jpg' %}">
                                    </div>
                                    <div class="events-body">
                                        <h4 class="events-heading">Some guy</h4>
                                        <p>Some guy is allocated to the dispute and looks throws both parties, use fairy dust to make a contract. Sends it to another guy</p>
                                    </div>
                                </div>
                            </dd>
                            <dt>Contract formed</dt>
                            <dd class="pos-left clearfix">
                                <div class="circ"></div>
                                <div class="time">Day 1, 13:30</div>
                                <div class="events">
                                    <div class="pull-left">
                                        <img class="events-object img-rounded" src="{% static 'img/photo-4.jpg' %}">
                                    </div>
                                    <div class="events-body">
                                        <h4 class="events-heading">Another guy</h4>
                                        <p>Another guy looks at the contract and signs it. Both part are not legally bound to it.</p>
                                    </div>
                                </div>
                            </dd>
                            <dt>End</dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <hr/>



    {% include "footer.html" %}
</body>

</html>
