<!DOCTYPE html>
<html>
{% load staticfiles %} {% include "head.html" %}

<body>
{% include "navbar.html" with banner_request=True %}

<div class="container">
    <hr/>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h2><p class="text-center">Resolve a dispute now</p></h2>
            <a href="{% url 'dispute_view' %}"><button type="button" class="btn btn-lg btn-info btn-block">Take me there!</button></a>
        </div>
    </div>
    <hr/>
</div>

{% include "timeline.html" %}

<div class="container">
    <div class="example">
        <h2><p class="text-center">Who uses Outlaw Resolutions?</p></h2>
        <br/><br/>
        <div class="row text-center">
            <div class="col-md-4">
                <p><img width=50 height=50 src="http://image.flaticon.com/icons/svg/43/43368.svg"/></p>
                <p><strong>Individuals</strong></p>
                Use Outlaw Resolutions to dispute a personal issue, whether you want to experiment with disputing or you
                really
                had an arguement with a friend.
            </div>
            <div class="col-md-4">
                <p><img width=50 height=50 src="http://image.flaticon.com/icons/svg/32/32441.svg"/></p>
                <p><strong>Communities</strong></p>
                Outlaw Resolutions hosts one of the largest collections of disputers in the world. Create, browse,
                resolve
                disputes
            </div>
            <div class="col-md-4">
                <p><img width=50 height=50 src="http://image.flaticon.com/icons/svg/75/75722.svg"/></p>
                <p><strong>Businesses</strong></p>
                Businesses of all sizes use GitHub to support their development process and dealing with shiity
                customers
            </div>
        </div>
    </div>
    <hr/>
</div>


{% include "footer.html" %}
</body>

</html>
