<!DOCTYPE html>
<html>
{% load staticfiles %} {% include "head.html" %}

<body>
<div class="container">
    <div class="example">
        <hr/>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form id="landing_form">
                    {% csrf_token %}
                    <h2><p class="text-center">Disputes, resolved. Simple, fast, online.</p></h2>
                    <input type="email" id="id_email" name="email" class="form-control" placeholder="Email"><br/>
                    <div id="landing_response" class="collapse"></div>
                    <button id="signup_button" class="btn btn-lg btn-info btn-block">Sign up now!</button>
                </form>
            </div>
        </div>
    </div>
    <hr/>
</div>
</div>

{% include "timeline.html" %}

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

{% include 'tracking.html' %}
</body>

</html>
