<!-- Header -->
{% load staticfiles %}
<div class="docs-header">
    <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="{% url 'index_view' %}"><img
                        src="{% static 'img/logo.png' %}" height="40"></a>
            </div>
            <div class="collapse navbar-collapse">
                {#                <ul class="nav navbar-nav navbar-left">#}
                {#                    <li><a class="nav-link" href="{% url 'creadispute_view' %}">Dispute</a></li>#}
                {#                    <li><a class="nav-link" href="{% url 'resolutions_view' %}">Resolve</a></li>#}
                {#                </ul>#}

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="#">{{ user.email }}</a></li>
                        <li><a href="{% url 'account_logout' %}">Log out</a></li>
                    {% else %}
                        <li><a href="{% url 'account_login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% if banner_request %}
        {% include "banner.html" %}
    {% endif %}
</div>
